{% extends "layout.html" %} {% block content %} {% from 'bootstrap5/nav.html' import render_nav_item %}
<nav class="navbar">
  <div class="container justify-content-center p-2">
    <a class="navbar=brand ">{{ render_nav_item('index', 'Home') }}</a>
    <a class="navbar=brand">{{ render_nav_item('add_note', 'New note') }}</a>
    <a class="navbar=brand">{{ render_nav_item('notes', 'Notes') }}</a>
    <a class="navbar=brand">{{ render_nav_item('categories', 'Categories') }}</a>
    <a class="navbar=brand">{{ render_nav_item('register', 'Register') }}</a>
    <a class="navbar=brand">{{ render_nav_item('login', 'Login') }}</a>
    <a class="navbar=brand">{{ render_nav_item('logout', 'Log out')}}</a>
    </div>
</nav>
{% endblock %}
