{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{{ super() }}
<div style="margin-top: 50px;" class="container container bg-light bg-opacity-25 p-3 rounded">
    <a href="{{ url_for('add_categories') }}" class="btn btn-primary btn-m">Add new category</a>
    <h2 class="text-center font-monospace">Categories list</h2>
    {% for category in categories %}
        <div class="d-flex justify-content-between">
            <div class="p-2 mb-2 bg-secondary bg-opacity-25 rounded">{{ category.name }}</div>
            <div class="">
                <a href="{{ url_for('edit_category',id=category.id) }}" class="btn btn-outline-success">Edit Category</a>
                <a href="{{ url_for('delete_category',id=category.id) }}" class="btn btn-outline-danger">Delete Category</a>
            </div>  
        </div> 
            
        {% endfor %}
 
</div>
{% endblock %}