{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{{ super() }}
<div style="margin-top: 50px;" class="container">
    <h3 class="text-center">Categories list</h3>
    {% for category in categories %}
        <div class="d-flex justify-content-between">
            <div>{{ category.name }}</div>
            <div>
                <a href="{{ url_for('edit_category',id=category.id) }}" class="btn btn-outline-success btn-sm">Edit Category</a>
                <a href="{{ url_for('delete_category',id=category.id) }}" class="btn btn-outline-danger btn-sm">Delete Category</a>
            </div>  
        </div> 
            
        {% endfor %}
        <div class="row p-2">
        <a href="{{ url_for('add_categories') }}" class="btn btn-primary btn-m">Add new category</a>
        </div>
 
</div>
{% endblock %}